/* 通用样式 */
.info-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.d-none {
    display: none;
}

/* 自定义 Modal 样式 */
.modal-dialog {
    max-width: 60vw;
}

.modal-header {
    padding: 10px 20px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addToLibraryBtn, #removeFromLibraryBtn {
    width: 200px;
    margin: 0 auto;
}

.tag-setting {
    cursor: pointer;
}


.film-video{
    height: 500px;
    width: 900px;
    margin-left: 4px;
}

.dialog-container{
    width: 332px;
    margin-left: 8px;
    /*background: var(--platform-light-grey);*/
    border-radius: 8px;
    height: 570px;
    text-align: left;
    overflow-y: scroll;
    overflow-x: hidden;
    border: solid 2px var(--platform-dark-grey);
}

.dialog{
    font-size: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
    padding-right: 8px;

    line-height: 1.1;
}

.dialog:hover{
    cursor: pointer;
    background: var(--platform-light-grey);
}

.dialog.select{
    font-weight: bold;  /* 使用 'bold' 关键字 */
    background: var(--platform-grey);
}