/* 通用样式 */
.info-card {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

.d-none {
    display: none;
}

/* 自定义 Modal 样式 */
.modal-dialog {
    max-width: 60vw;
}

.modal-header {
    padding: 10px 20px;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#addToLibraryBtn, #removeFromLibraryBtn {
    width: 200px;
    margin: 0 auto;
}

.tag-setting {
    cursor: pointer;
}