<template id="quote-card-template">
        <div class="card-body mini p-0" style="width: 100%">
            <!-- 顶部栏 -->
            <!-- 主体内容 -->
            <div class="main-body d-flex quote-popup-btn" style="width: 100%">
                <div class="text-start d-flex align-items-center" original-width="63%"  style="width: 63%">
                    <div class="card-title over-hidden h5 ps-2" original-width="95%" style="width: 63%;">Quote Title</div>
                </div>
                <div id="tag-container" class="d-flex justify-content-between align-items-center" original-width="37%" style="border-left: 1px solid var(--platform-grey); width: 37%">
                    <div class="tags pe-0 d-flex align-items-center" original-width="100%" style="width: 100%; overflow: auto">
                        <div class="tag-container d-flex justify-content-between align-items-center">
                        </div>
                    </div>
                </div>

            </div>
    </div>
</template>
